{% extends 'base.html' %}

{% set title='Doctors List' %}

{% block content %}
<div class="doctor">
{% for doctor in doctors %}
	<article>
		<section>
		<div class="container well">
			<h4 class="docname row" >
				<span class="doctorname">Dr. {{doctor.name | safe}}
				</span>
			</h4> 
			<h6 class="docspec row" >
				<span class="col-xs-5 docspeciality">
					Speciality: {{doctor.speciality | safe}}
				</span>
				<span class="col-xs-5 docrating">Rating {{doctor.rating | safe}}
				</span>
			</h6> 
			
		</div>
		</section>
		<p class="post-content">{{post.content.replace('\n', '<br>') | safe}}</p>
	</article>
	{% else %}
	<div class="no-doc">
		<div class="container well">
			<h4 class="docname row" >
				<span class="col-xs-6 doctorname">Dr. Ramesh Roy
				</span>
			</h4> 
			<h6 class="docspec row" >
				<span class="col-xs-5 docspeciality">
					Speciality: Cardiologist
				</span>
				<span class="col-xs-5 docrating">Rating : 5/5
				</span>
			</h6> 
			
		</div>
	</div>
	{% endfor %}

</div>

{% endblock content %}