{% extends 'base.html' %}

{% set title='mseva' %}

{% block content %}
<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-10 col-lg-offset-1">
				<h1>Are you a <b>doctor</b>?</h1>
				<h5 style="color: #ECF0F1;">Reach more patients, <strong style="color: #2980B9;">faster</strong> and <strong style="color: #16A085;">smarter</strong>.</h5>
				</div>
				<div class="col-md-offset-4 col-lg-4" id="registerBtn">
					<a href="/signup" class="btn btn-block btn-lg btn-danger" title="" style="font-weight: bold;">Register Now</a>
				</div>

			</div><!-- row -->
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2" id="maas" >
					<h4>Need medical assistance?</h4>
				</div>
				<div class="col-md-offset-3 col-lg-6" id="">
					<a href="/" class="phoneNo" title=""><strong>Just call +91 - 8067569310 :)</strong></a>
					<br><br>
					<p style="color: #fff; font-size: 20px;">Made with <span style="color: red;">&hearts;</span> at <em>#Jugaadathon</em> <br>by Sanket, Abhishek, Rohit and Gazala</p><br><br>
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

<div id="container" class="w">
	<div class="content">
		mseva is a service which connects patients to doctors through phone calls.<br/>
		Doctors willing to volunteer can sign up <a href="/regiser">here</a>. 
	</div>
</div> 

{% endblock content %}