{% extends 'base.html' %}

{% set title='mseva' %}

{% block content %}
<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>Are You A <b>Doctor</b>?</h1>
				<h5>A Billion People Need Your Help</h5>
				</div>
				<div class="col-md-offset-4 col-lg-4" id="registerBtn">
					<a href="/signup" class="btn btn-block btn-lg btn-danger" title="">Register</a>
				</div>

			</div><!-- row -->
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2" id="maas" >
					<h4>Just need medical assistance?</h4>
				</div>
				<div class="col-md-offset-4 col-lg-4" id="">
					<a href="/" class="phoneNo" title=""><strong>Call 08067569310 :)</strong></a>
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

<div id="container" class="w">
	<div class="content">
		mseva is a service which connects patients to doctors through phone calls.<br/>
		Doctors willing to volunteer can sign up <a href="/regiser">here</a>. 
	</div>
</div> 

{% endblock content %}