{% extends 'base.html' %}

{% set title='iHelp' %}

{% block content %}
<div id="headerwrap">
<a class="navbar-brand" href="/"><img src="static/img/mseva.png" /></a>
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>Are You A <b>Doctor</b>?</h1>
				<h5>Billions of People Need Help</h5>
				
				</div>
				<div class="col-md-offset-4 col-lg-4" id="registerBtn">
					<a href="/signup" class="btn btn-block btn-lg btn-danger" title="">Register</a>
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

<div id="container" class="w">
	<div class="content">
		iHelp is a service which connects patients to doctors via phone calls.<br/>
		Doctors willing to volunteer can sign up <a href="/regiser">here</a>. They can specify their specialisation and weekly time duration when they would be free.
		Patients' call are routed to doctors only during the time slots doctor has allowed.
	</div>
</div> 

{% endblock content %}