{% extends 'base.html' %}

{% set title='iHelp' %}

{% block content %}
		<div class="container">
			<div class="row">

      <h3 class="section-heading">Signup</h3>

      {% if error %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Drats!</strong> {{error}}
      </div>
      {% endif %}

<form class="form-horizontal" role="form" action="/signup" method="POST">
	<div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="name" id="inputName" placeholder="Your Name">
    </div>
  		<label for="inputUid" class="col-sm-2 control-label">Registration number</label>
    	<div class="col-sm-4">
      		<input type="text" class="form-control" name="regno" id="inputUid" placeholder="Your MCAII regn. no.">
    	</div>
  </div>

	<div class="form-group">
    	<label for="inputPhone" class="col-sm-2 control-label">Speciality</label>
    	<div class="col-sm-4 ">
      		<select class="form-control" name="speciality" required>
      			<option value="GENERAL">Physician</option>
      			<option value="CARDIAC">Cardiology</option>
      			<option value="GYNAEC">Gynaecology</option>
            <option value="PEDIATRIC">Pediatric</option>
      		</select>
    	</div>
    	<label for="inputLanguage" class="col-sm-2 control-label">Language preference</label>
    	<div class="col-sm-4 " name="language">
      		<select class="form-control" name="language">
      			<option value="EN">English</option>
      			<option value="HI">Hindi</option>
      			<option value="BN">Bengali</option>
      		</select>
      </div>
  </div>

  <div class="form-group">
        <!-- <label for="inputDay" class="control-label col-sm-3">I'd like to take calls everyday</label>
      <div class="col-sm-3">
        <select name="timeslot_day" class="form-control">
          <option>Mon</option> <option>Tue</option> <option>Wed</option> <option>Thu</option> <option>Fri</option><option>Sat</option> <option>Sun</option>
        </select>
      </div> -->
      <label for="inputToHour" class="control-label col-sm-3 col-sm-offset-1">I'd like to take calls everyday from</label>

      <div class="col-sm-2">
        <input type="text" name="timeslot_from" class="form-control" placeholder="HHMM">
      </div>

      <label for="inputToHour" class="control-label col-sm-1">to</label>
      <div class="col-sm-2">
        <input type="text" name="timeslot_to" class="form-control" placeholder="HHMM">
      </div>
    </div>



  <div class="form-group">
    <label for="inputPincode" class="col-sm-2 control-label">Pincode</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputPincode" name="pincode" placeholder="Pincode">
    </div>
    <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-4">
      <input type="phone" class="form-control" id="inputEmail" name="mobile" placeholder="Phone No.">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
    </div>
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-lg">Signup</button>
    </div>
  </div>
</form>

			</div><!-- row -->
		</div><!-- container -->

{% endblock content %}